<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="wrap">
        <h5 class="page-title">Participants</h5>
        <table class="bordered highlight">
            <thead>
            <tr>
                <th>ID</th>
                <th>Key Participant</th>
                <th>Project title</th>
                <th>Institution</th>
                <th>Role</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr data-target="{{ project.id }}" ng-repeat="project in data">
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.project }}</td>
                <td>{{ project.institute }}</td>
                <td>{{ project.role }}</td>
                <td>{{ project.email }}</TD>
            </tr>
            </tbody>
        </table>

        <script>
            $(document).ready(function(){
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal').modal();
            });
        </script>
        <!-- Modal Structure -->
        <div id="{{ project.id }}" class="modal modal-fixed-footer" ng-repeat="project in data">
            <div class="modal-content">
                <h4>{{ project.id + ". " + project.project + " Presented By " + project.name }}</h4>
                <h6>{{ project.abstract }}</h6>
                <p>{{ project.objective }}</p>
                <p>{{ project.methods }}</p>
                <p>{{ project.results }}</p>
                <p>{{ project.conclusion }}</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Edit Information</a>
            </div>
        </div>
    </div>
</body>
</html>