<div class="wrap">
    <view-form-modal form="ctrl.form" form-questions="ctrl.singleFormQuestions"></view-form-modal>
    <div class="row">
        <div class="col s12">
            <ul class="tabs" material-tabs>
                <li class="tab col s3"><a class="active" href="#Info">Info</a></li>
                <li class="tab col s3"><a href="#Posters">Posters</a></li>
            </ul>
        </div>
    </div>

    <div id="Info" class="input-field col s12">
        <judge-editor judge="ctrl.judge" judge-categories="ctrl.judgeCategories"></judge-editor>
    </div>

    <div id="Posters" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <select name="summit" ng-change="ctrl.changeSummit()"  ng-model="ctrl.summitId" id="summit" title="Summit" class="browser-default">
                    <option value="" disabled>Select Summit</option>
                    <option ng-repeat="summit in ctrl.summits | orderBy: '-summitStart'" ng-value="summit.summitId">{{ summit.summitStart | date: 'mediumDate'}}</option> 
                </select>
                <label class="active" for="judge">Select Summit</label>
            </div>
            <div class="pull-right">
                <a ui-sref="home.admin.assign" class="waves-effect waves-light btn green">Assign Poster</a>
            </div>
        </div>
        <table class="bordered highlight">
            <thead>
            <tr>
                <th>Poster #</th>
                <th>Poster Title</th>
                <th>Score</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="form in ctrl.forms | filter: {summitId: ctrl.summitId} | orderBy: ['posterCategory', 'posterNumber']">
                <td>{{ form.posterCategory + ' ' + form.posterNumber }}
                <td>{{ form.posterTitle }}</td>
                <td>{{ form.total }}</td>
                <td>
                    <a ng-if="form.judged === '0'" class="waves-effect waves-light btn red" ng-click="ctrl.remove(form)">Remove</a>
                    <a ng-if="form.judged === '1'" class="waves-effect waves-light btn green" ng-click="ctrl.setForm(form)" data-target="view-judge-form">View Form</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>