<div class="wrap">
    <h5 class="page-title">Add Poster Abstract</h5>
    <div class="row">
        <form ng-submit="ctrl.finish()" class="col s12">
            <div class="row">
                <h5>Registration Step 3 of 3: Enter Poster Information</h5>
                <h7>WARNING: Nothing will save until submitted!</h7>
            </div>
            <div class="row">
                <div class="col 14 s12">
                    <h5 class="black-text">Abstract</h5>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="projectTitle" ng-model="ctrl.projectTitle" type="text" class="validate" required>
                    <label class="active" for="projectTitle">Project Title:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="objective" ng-model="ctrl.projectObjective" class="materialize-textarea" required></textarea>
                    <label class="active" for="objective">Objective: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="method" ng-model="ctrl.projectMethods" class="materialize-textarea" required></textarea>
                    <label class="active" for="method">Methods: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="result" ng-model="ctrl.projectResults" class="materialize-textarea" required></textarea>
                    <label class="active" for="result">Results: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="conclusion" ng-model="ctrl.projectConclusion" class="materialize-textarea" required></textarea>
                    <label class="active" for="conclusion">Conclusion: </label>
                </div>
            </div>
            <div class="row pull-right">
                <button class="btn waves-effect green waves-light" type="submit">Submit</button>
                <a ui-sref='home.admin.presenters' class="waves-effect waves-light btn red">Cancel</a>
            </div>
        </form>
    </div>
</div>