<div class="container">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="First Name" id="presenterFirstName" ng-model="ctrl.presenterFirstName" type="text" class="validate" required>
                    <label for="presenterFirstName">First Name: </label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Last Name" id="presenterLastName" ng-model="ctrl.presenterLastName" type="text" class="validate" required>
                    <label for="presenterLastName">Last Name: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Email" id="presenterEmail" ng-model="ctrl.presenterEmail" type="email" class="validate" required>
                    <label for="presenterEmail">Email: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Confirm Email" id="presenterEmailConfirm" ng-model="ctrl.presenterEmailConfirmation" type="email" class="validate" required>
                    <label for="presenterEmailConfirm">Confirm Email: </label>
                </div>
            </div>
            <!--<div class="row">
                <div ui-sref="register-confirmation" class="btn waves-effect waves-light" type="submit">Submit</div>
            </div>-->
            <div class="row">
                <button ng-click="ctrl.verifyName()" class="btn waves-effect waves-light" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>