<div>

    <div ng-if="!ctrl.authService.isLoggedIn" class="navbar-fixed">
        <ul id="login-dropdown" class="dropdown-content">
            <li><a ui-sref="home.judge-login">Judge</a></li>
            <li class="divider"></li>
            <li><a ui-sref="login">Admin</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper landing-nav">
                <a ui-sref="home.landing" class="brand-logo logo"><img src="judge/assets/img/MarshallWhite.png" height="40" width=""></a>

                <ul ng-if="!ctrl.authService.isLoggedIn" id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="drop-button" data-activates="login-dropdown" material-dropdown>Login<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>

    </div>

    <div ng-if="ctrl.authService.isAdmin">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a ui-sref="home.landing" class="brand-logo logo"><img src="judge/assets/img/MarshallWhite.png" height="40" width=""></a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a ui-sref="home.admin.settings">Settings</a></li>
                        <li><a ng-click="ctrl.authService.logout()">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <aside>
            <ul class="side-nav" id="bar">
                <li><a class="waves-effect" ui-sref="home.admin.dashboard"><img class="nav-icon" src="judge/assets/img/ic_dashboard_white_48dp_2x.png">Dashboard</a></li>
                <li><a class="waves-effect" ui-sref="home.admin.participants"><img class="nav-icon" src="judge/assets/img/ic_verified_user_white_48dp_2x.png">Participants</a></li>
                <li><a class="waves-effect" ui-sref="home.admin.reporting"><img class="nav-icon" src="judge/assets/img/ic_timeline_white_48dp_2x.png">Reports</a></li>
                <li><a class="waves-effect" ui-sref="home.admin.judges"><img class="nav-icon" src="judge/assets/img/ic_assignment_white_48dp_2x.png">Judges</a></li>
                <li><a class="waves-effect" ui-sref="home.admin.settings"><img class="nav-icon" src="judge/assets/img/ic_settings_white_48dp_2x.png">Settings</a></li>
            </ul>
        </aside>

    </div>

    <div ng-if="ctrl.authService.isJudge">
        <div class="navbar-fixed">
            <ul id="judge-dropdown" class="dropdown-content">
                <li><a ui-sref="home.judge.info">Info</a></li>
                <li class="divider"></li>
                <li><a ui-sref="home.judge.dashboard">Posters</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper landing-nav">
                    <a ui-sref="home.landing" class="brand-logo logo"><img src="judge/assets/img/MarshallWhite.png" height="40" width=""></a>
                    <a ui-sref="." data-activates="judge-menu" class="button-collapse" material-side-nav><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="drop-button" data-activates="judge-dropdown" material-dropdown>{{ctrl.user.userName}}<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a ng-click="ctrl.authService.logout()">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- collapsed menu -->
            <ul id="judge-menu" class="side-nav">
                    <li>
                        <ul class="collapsible" data-collapsible="expandable" material-collapsible>
                            <li>
                                <div class="collapsible-header">{{ctrl.user.userName}}</div>
                                <div class="collapsible-body"><a class="waves-effect" ui-sref="home.judge.info"><img class="nav-icon" src="judge/assets/img/ic_verified_user_white_48dp_2x.png">Info</a></div>
                                <div class="collapsible-body"><a class="waves-effect" ui-sref="home.judge.dashboard"><img class="nav-icon" src="judge/assets/img/ic_dashboard_white_48dp_2x.png">Posters</a></div>
                            </li>
                        </ul>
                    </li>
                    <li><a class="waves-effect" ng-click="ctrl.logout($event)"><img class="nav-icon" src="judge/assets/img/ic_settings_white_48dp_2x.png">Logout</a></li>
            </ul>
    </div>
</div>