<div>

    <!-- Default navbar -->

    <div ng-if="!ctrl.authService.isLoggedIn" class="navbar-fixed">
        <ul id="login-dropdown" class="dropdown-content">
            <li><a ui-sref="home.judge-login">Judge</a></li>
            <li class="divider"></li>
            <li><a ui-sref="home.login">Admin</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper landing-nav">
                <a ui-sref="home.landing" class="brand-logo logo"><img src="build/dist/img/MarshallWhite.png" height="40" width=""></a>

                <ul ng-if="!ctrl.authService.isLoggedIn" id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="drop-button" data-activates="login-dropdown" material-dropdown>Login<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>

    </div>

    <!-- Admin navbar -->

    <div ng-if="ctrl.authService.isAdmin">
        <div class="navbar-fixed">
            <!-- Admin dropdown -->
            <ul id="admin-dropdown" class="dropdown-content">
                <li><a ui-sref="home.admin.dashboard">Dashboard</a></li>
                <li class="divider"></li>
                <li><a ui-sref="home.admin.account">Account</a></li>
            </ul>

            <nav>
                <div class="nav-wrapper">
                    <a ui-sref="home.landing" class="brand-logo logo"><img src="build/dist/img/MarshallWhite.png" height="40" width=""></a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="drop-button" data-activates="admin-dropdown" material-dropdown>{{ctrl.user.firstName + ' ' + ctrl.user.lastName}}<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a ng-click="ctrl.authService.logout()">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <aside ng-if="!hideSide">
            <ul class="side-nav" id="bar">
                <li><a class="waves-effect" ui-sref="home.admin.dashboard"><img class="nav-icon" src="build/dist/img/ic_dashboard_white_48dp_2x.png">Dashboard</a></li>
                <li><a class="waves-effect" ui-sref="home.admin.participants"><img class="nav-icon" src="build/dist/img/ic_verified_user_white_48dp_2x.png">Participants</a></li>
                <li><a class="waves-effect" ui-sref="home.admin.reporting"><img class="nav-icon" src="build/dist/img/ic_timeline_white_48dp_2x.png">Reports</a></li>
                <li><a class="waves-effect" ui-sref="home.admin.admins"><i class="material-icons md-light">face</i> Admins</a></li>
                <li><a class="waves-effect" ui-sref="home.admin.judges({category: 'marshall'})"><img class="nav-icon" src="build/dist/img/ic_assignment_white_48dp_2x.png">Judges</a></li>
                <li><a class="waves-effect" ui-sref="home.admin.settings.summits"><img class="nav-icon" src="build/dist/img/ic_settings_white_48dp_2x.png">Settings</a></li>
            </ul>
        </aside>

    </div>

    <!-- Judge navbar -->

    <div ng-if="ctrl.authService.isJudge">
        <div class="navbar-fixed">

            <!-- Judge dropdown -->

            <ul id="judge-dropdown" class="dropdown-content">
                <li><a ui-sref="home.judge.info({judgeId: ctrl.user.id})">Info</a></li>
                <li class="divider"></li>
                <li><a ui-sref="home.judge.dashboard({judgeId: ctrl.user.id})">Posters</a></li>
            </ul>

            <nav>
                <div class="nav-wrapper landing-nav">
                    <a ui-sref="home.landing" class="brand-logo logo"><img src="build/dist/img/MarshallWhite.png" height="40" width=""></a>
                    <a ui-sref="." data-activates="judge-menu" class="button-collapse" material-side-nav><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="drop-button" data-activates="judge-dropdown" material-dropdown>{{ctrl.user.firstName + ' ' + ctrl.user.lastName}}<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a ng-click="ctrl.authService.logout()">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- collapsed menu -->
            <ul id="judge-menu" class="side-nav">
                    <li>
                        <ul class="collapsible" data-collapsible="expandable" material-collapsible>
                            <li>
                                <div class="collapsible-header">{{ctrl.user.firstName + ' ' + ctrl.user.lastName}}</div>
                                <div class="collapsible-body"><a class="waves-effect" ui-sref="home.judge.info"><img class="nav-icon" src="build/dist/img/ic_verified_user_white_48dp_2x.png">Info</a></div>
                                <div class="collapsible-body"><a class="waves-effect" ui-sref="home.judge.dashboard"><img class="nav-icon" src="build/dist/img/ic_dashboard_white_48dp_2x.png">Posters</a></div>
                            </li>
                        </ul>
                    </li>
                    <li><a class="waves-effect" ng-click="ctrl.logout($event)"><img class="nav-icon" src="build/dist/img/ic_settings_white_48dp_2x.png">Logout</a></li>
            </ul>
    </div>
</div>