<div class="input-field col s12">
    <form>
        <div class="row">
            <div class="input-field col s6">
                <input id="firstName" ng-model="ctrl.judge.firstName" placeholder="First Name" ng-disabled="!ctrl.canEdit">
                <label class="active" for="firstName" >First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="lastName" ng-model="ctrl.judge.lastName" placeholder="Last Name" ng-disabled="!ctrl.canEdit">
                <label class="active" for="lastName" >Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="userName" ng-model="ctrl.judge.userName" class="validate" placeholder="User Name" ng-disabled="!ctrl.canEdit">
                <label class="active" for="userName" >User Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select ng-model="ctrl.judge.judgeCategoryId" id="category" title="Category" material-select condition="ctrl.canEdit" ng-show="ctrl.canEdit && ctrl.user.isAdmin">
                    <option ng-repeat="judgeCategory in ctrl.judgeCategories" value="{{judgeCategory.judgeCategoryId}}">{{judgeCategory.title}}</option>
                </select>
                <input id="category" ng-model="ctrl.judge.category" disabled ng-if="!ctrl.canEdit || ctrl.user.isJudge">
                <label class="active" for="category">Category</label>
            </div>
        </div>
        <div class="row">
            <input type="checkbox" ng-model="ctrl.judge.active" ng-true-value="'1'" ng-false-value="'0'" class="filled-in" id="filled-in-box" ng-disabled="!ctrl.canEdit || !ctrl.user.isAdmin" />
            <label for="filled-in-box">Active</label>
        </div>
    </form>

    <div class="row pull-right">
        <a ng-if="!ctrl.canEdit" class="wave-effects wave-light btn" ng-click="ctrl.edit()">Edit</a>
        <button type="submit" ng-if="ctrl.canEdit" class="wave-effects wave-light btn green" ng-click="ctrl.save()">Save</button>
        <a ng-if="ctrl.canEdit" class="wave-effects wave-light btn red" ng-click="ctrl.cancel()">Cancel</a>
    </div>

</div>