<div id="view-judge-form" class="modal modal-fixed-footer" material-modal>
    <form ng-if="ctrl.formQuestions.length > 0">
        <div class="modal-content">
            <h5><strong>Does this poster capture my immediate attention enough to inspire further evaluation?</strong></h5>
            <div class="switch">
                <label>
                    No
                    <input type="checkbox" ng-model="ctrl.form.furtherEvaluation" ng-true-value="'1'" ng-false-value="'0'" disabled>
                    <span class="lever"></span>
                    Yes
                </label>
            </div>
            <table>
                <tbody>
                    <tr ng-repeat="section in ctrl.sections">
                        <td>
                            <table class="bordered highlight judge-form">
                                <thead>
                                    <tr>
                                        <th class="question-info" data-field="question">{{section.title}}</th>
                                        <th data-field="poor">Poor</th>
                                        <th data-field="adequate">Adequate</th>
                                        <th data-field="fair">Fair</th>
                                        <th data-field="good">Good</th>
                                        <th data-field="excellent">Excellent</th>
                                        <th class="pull-right" data-field="totals">TOTALS</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="question in ctrl.formQuestions | filter: {section: section.title}">
                                        <td class="question-info">{{question.description}}</td>
                                        <td ng-repeat="score in ctrl.scores">
                                            <input ng-click="ctrl.sum()" name="{{'question ' + question.questionId}}" ng-model="question.score" type="radio" id="{{'question' + question.questionId + score.label}}" ng-value="score.id" disabled />
                                            <label for="{{'question' + question.questionId + score.label}}"></label>
                                        </td>
                                        <td class="pull-right">{{question.score}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="bordered highlight judge-form">
                                <tbody>
                                    <tr>
                                        <td class="pull-right"><strong>TOTAL SCORE: &nbsp</strong>{{ctrl.form.total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row comment-box">
                <div class="input-field col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="award_recommendation" ng-model="ctrl.form.recommendedAward" disabled>
                            <label class="active" for="award_recommendation"><h5>Recommended Award</h5></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="comments" class="materialize-textarea" ng-model="ctrl.form.comments" placeholder="Leave any comments here..." disabled></textarea>
                            <label class="active" for="comments"><h5>Comments</h5></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-light btn red">Close</a>
        </div>

    </form>
</div>