<div class="wrap">
    <h5 class="page-title">Add a Presenter</h5>
    <div class="row">
        <form ng-submit="ctrl.verifyEmail()" class="col s12">
            <div class="row">
                <h5>Registration Step 1 of 3: Enter Basic Information</h5>
                <h7>WARNING: Nothing will save until submitted on step 3!</h7>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input placeholder="First Name" id="presenterFirstName" ng-model="ctrl.firstName" type="text" class="validate" required>
                    <label class="active" for="presenterFirstName">First Name: </label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="Last Name" id="presenterLastName" ng-model="ctrl.lastName" type="text" class="validate" required>
                    <label class="active" for="presenterLastName">Last Name: </label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="Suffix" id="presenterSuffix" ng-model="ctrl.suffix" type="text" class="validate">
                    <label class="active" for="presenterSuffix">Suffix: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Email" id="presenterEmail" ng-model="ctrl.email" type="email" class="validate" required>
                    <label class="active" for="presenterEmail">Email: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Confirm Email" id="presenterEmailConfirm" ng-model="ctrl.emailConfirmation" type="email" class="validate" required>
                    <label class="active" for="presenterEmailConfirm">Confirm Email: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select material-select id="institution" ng-model="ctrl.presenterInstitution">
                        <option value="" disabled selected>Choose Your Institution</option>
                        <option ng-repeat="institution in ctrl.institutions" value="{{institution.institutionId}}">{{institution.title}}</option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <select material-select id="role" ng-model="ctrl.presenterRole">
                        <option value="" disabled selected>Choose Your Role</option>
                        <option ng-repeat="role in ctrl.roles" value="{{role.roleId}}">{{role.title}}</option>
                    </select>
                </div>
            </div>
            <div class="row pull-right">
                <button class="btn waves-effect green waves-light" type="submit">Submit</button>
                <a ui-sref='home.admin.presenters' class="waves-effect waves-light btn red">Cancel</a>
            </div>
        </form>
    </div>
</div>