<div material-modal id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s4">
                <input placeholder="First Name" id="keyParticipantFName" ng-model="ctrl.keyParticipantFName" type="text" class="validate">
                <label for="keyParticipantFName">First Name:</label>
            </div>
            <div class="input-field col s4">
                <input placeholder="Last Name" id="keyParticipantLName" ng-model="ctrl.keyParticipantLName" type="text" class="validate">
                <label for="keyParticipantLName">Last Name:</label>
            </div>
            <div class="input-field col s4">
                <input placeholder="Department" id="keyParticipantDepartment" ng-model="ctrl.keyParticipantDepartment" type="text" class="validate">
                <label for="keyParticipantDepartment">Department</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select material-select id="keyParticipantInstitution" ng-model="ctrl.keyParticipantInstitution">
                    <option value="" disabled selected>Choose Your Institution</option>
                    <option ng-repeat="institution in ctrl.institutions" value="{{institution.title}}">{{institution.title}}</option>
                </select>
            </div>
            <div class="input-field col s6">
                <select material-select id="keyParticipantRole" ng-model="ctrl.keyParticipantRole">
                    <option value="" disabled selected>Choose Your Role</option>
                    <option ng-repeat="role in ctrl.roles" value="{{role.title}}">{{role.title}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row pull-right">
            <a class="waves-effect waves-light btn red modal-action modal-close">Cancel</a>
            <button ng-click="ctrl.checkKeyParticipantFNameExists()" class="modal-action waves-effect btn green waves-effect waves-light">Submit</button>
        </div>
    </div>
</div>