<div class="wrap">
    <h5 class="page-title">Admin Info</h5>
    <div class="row">
        <div class="col s12">
            <ul class="tabs" material-tabs>
                <li class="tab col s3"><a class="active" href="#Info">Info</a></li>
                <li class="tab col s3"><a href="#Password">Change Password</a></li>
            </ul>
        </div>
    </div>

    <div id="Info" class="input-field col s12">
        <form ng-submit="ctrl.save()">
            <div class="input-field col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="first_name" id="first_name" ng-model="ctrl.admin.firstName" placeholder="First Name" ng-disabled="!ctrl.canEdit" required>
                        <label class="active" for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="last_name" id="last_name" ng-model="ctrl.admin.lastName" placeholder="Last Name" ng-disabled="!ctrl.canEdit" required>
                        <label class="active" for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" name="email" id="email" ng-model="ctrl.admin.email" class="validate" placeholder="Email" ng-disabled="!ctrl.canEdit" required>
                        <label class="active" for="email">Email</label>
                    </div>
                </div>
                <input ng-if="!ctrl.isSelf" type="checkbox" name="active" ng-model="ctrl.admin.active" ng-true-value="'1'" ng-false-value="'0'" class="filled-in" id="active" ng-disabled="!ctrl.canEdit" required />
                <label ng-if="!ctrl.isSelf" for="active">Active</label>
            </div>
            <div class="row pull-right">
                <a ng-if="!ctrl.canEdit" class="wave-effects wave-light btn" ng-click="ctrl.edit()">Edit</a>
                <button type="submit" ng-if="ctrl.canEdit" class="waves-effect waves-light btn green ">Save</button>
                <a ng-click="ctrl.cancel()" ng-if="ctrl.canEdit" class="waves-effect waves-light btn red ">Cancel</a>
            </div>
        </form>
    </div>

    <div id="Password" class="input-field col s12">
        <form ng-submit="ctrl.updatePassword()">
            <div class="input-field col s12">
                    <div ng-if="ctrl.isSelf" class="input-field col s12">
                        <input type="password" maxlength="20" name="oldPassword" id="oldPassword" ng-model="ctrl.oldPassword" class="validate" placeholder="Old Password" required>
                        <label class="active" for="password">Old Password</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="password" maxlength="20" name="password" id="password" ng-model="ctrl.newPassword" class="validate" placeholder="New Password" required>
                        <label class="active" for="password">New Password</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="password" maxlength="20" name="confirmPassword" id="confirmPassword" ng-model="ctrl.confirmPassword" class="validate" placeholder="Confirm Password" required>
                        <label class="active" for="cofirmPassword">Confirm Password</label>
                    </div>
            </div>
            <div class="row pull-right">
                <button type="submit" class="waves-effect waves-light btn green ">Update</button>
                <a ng-click="ctrl.cancelPassword()" class="waves-effect waves-light btn red ">Cancel</a>
            </div>
        </form>
    </div>

</div>