<div class="wrap">
    <h5 class="page-title">Admin Management</h5>

    <add-admin-modal ctrl="ctrl"></add-admin-modal>
    <div class="col s12">
        <div class="row">
            <div class="col s9">
                <ul class="tabs" material-tabs>
                    <li class="tab col s3"><a class="active" href="#Active">Active</a></li>
                    <li class="tab col s3"><a href="#Inactive">Inactive</a></li>
                </ul>
            </div>
        </div>

        <div id="Active" class="col s12">

            <div class="row pull-right">
                <button data-target="add-admin" class="btn green">Add Admin</button>
            </div>
            
            <table class="bordered highlight">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="admin in ctrl.models | filter: { active: 1 }">
                    <td><a ui-sref="home.admin.info({adminInfoId: admin.adminId, admin: admin})">{{ admin.email }}</a></td>
                    <td>{{ admin.firstName }}</td>
                    <td>{{ admin.lastName }}</td>
                    <td><a ng-if="admin.adminId !== ctrl.userId" ng-click="ctrl.deactivate(admin)" class="waves-effect waves-light btn red">Deactivate</a></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div id="Inactive" class="col s12">

            <div class="row pull-right">
                <button data-target="add-judge" class="btn green">Add Admin</button>
            </div>
            
            
            <table class="bordered highlight">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="admin in ctrl.models | filter: { active: 0 }">
                    <td><a ui-sref="home.admin.info({adminInfoId: admin.adminId, admin: admin})">{{ admin.email }}</a></td>
                    <td>{{ admin.firstName }}</td>
                    <td>{{ admin.lastName }}</td>
                    <td><a ng-if="admin.adminId !== ctrl.userId" ng-click="ctrl.activate(admin)" class="waves-effect waves-light btn green">Activate</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>