<div class="col s12">
    <add-question-modal ctrl="ctrl" title="title"></add-question-modal>
    <div class="row">
        <div class="col s9">
            <ul class="tabs" material-tabs>
                <li class="tab col s3"><a class="active" href="#Active">Active</a></li>
                <li class="tab col s3"><a href="#Inactive">Inactive</a></li>
            </ul>
        </div>
    </div>

    <div id="Active" class="col s12">

        <div class="row">
            <div class="col s6">
                <select name="section"  ng-model="ctrl.section" id="section" title="Section" class="browser-default"
                    ng-options="questionSection.questionSectionId as questionSection.title for questionSection in ctrl.questionSections">
                </select>
            </div>
            <div class="pull-right">
                <button data-target="add-question" class="btn green">Add Question</button>
            </div>
        </div>
        
        <table class="bordered highlight">
            <thead>
            <tr>
                <th>Description</th>
                <th>Edit</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="question in ctrl.models | filter: { active: 1 } | filter: { questionSectionId: ctrl.section } | orderBy: 'questionId'">
                <td>{{ question.description }}</td>
                <td><a class="btn" ng-click="ctrl.setEdit(question)" data-target="add-question">Edit</a></td>
                <td><a class="btn red" ng-click="ctrl.deactivate(question)">Deactivate</a></td>
            </tr>
            </tbody>
        </table>

    </div>

    <div id="Inactive" class="col s12">

        <div class="row">
            <div class="col s6">
                <select name="section"  ng-model="ctrl.section" id="section" title="Section" class="browser-default"
                    ng-options="questionSection.questionSectionId as questionSection.title for questionSection in ctrl.questionSections">
                </select>
            </div>
            <div class="pull-right">
                <button data-target="add-question" class="btn green">Add Question</button>
            </div>
        </div>
        
        <table class="bordered highlight">
            <thead>
            <tr>
                <th>Description</th>
                <th>Edit</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="question in ctrl.models | filter: { active: 0 } | filter: { questionSectionId: ctrl.section } | orderBy: 'questionId'">
                <td>{{ question.description }}</td>
                <td><a class="btn" ng-click="ctrl.setEdit(question)" data-target="add-question">Edit</a></td>
                <td><a class="btn green" ng-click="ctrl.activate(question)">Activate</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>