<div class="background">
    <div class="login-cont">
        <div class="row">
            <h4>Login</h4>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Pin" id="pin" type="password" class="validate" required>
                        <label for="pin">PIN</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a class='dropdown-button btn' href='#' data-activates='judgeIds'>Judges</a>

                        <ul id='judgeIds' class='dropdown-content'>
                            <li ng-repeat="judge in judges"><a href="#!">{{judge.judgeId}}</a></li>
                        </ul>
                    </div>
                </div>
                <button ng-click="ctrl.login()" class="btn admin-btn">Login</button>
            </form>
        </div>
    </div>
</div>