/** LANDING PAGE STYLES **/

.landing-nav a:hover,a:active,a:visited,a::selection {
    text-decoration: none;
    color: white;
    text-underline: none;
}

.jumbo {
    background: url(../img/Hero_Background.png) center ;
    height: 750px;
}

.content {
    padding: 250px 100px 50px;
    color: white;
}

.content .btn {
    background: white;
    color: #222222;
}

.jumbo hr {
    width: 5%;
    color: white;
    text-decoration: none;
    border-color: white;
}

/* Blurbs */

.blurbs {
    background: #eee;
    text-align: center;
    height: 200px;
}

/**** ADMIN LOGIN ****/

.login-cont {
    text-align: center;
    width: 40%;
    padding: 50px 50px 50px;
    margin: auto;
    background: white;
}

.background {
    background: #ECECEC;
    height: 1000px;
    width: 100%;
    padding: 150px 50px;
}

.admin-btn {
    width: 100%;
    height: 50px;
    background: #00B140;
}

.admin-btn:hover {
    background: rgba(0,177,64,.8);
}
/** ADMIN/TEMPLATE STYLES **/

#link {
    color: #00B140;
}

td a:visited {
    color: #00B140;
}

td a.btn:visited, td a.btn:hover {
    color: white;
}

.nav-wrapper {
    background: #00B140;

}

.nav-icon {
    float: left;
    height: 25px;
    display: inline-block;
    margin: 15px;
}

#bar {
    color: white;
    background: #222223;
    transform: translateX(0px) translateY(64px);
    width: 200px;
}

.side-nav .collapsible-body li a {
    color: white;
    margin: 5px -15px;
}

.waves-effect:hover {
    background: green;
}

.page-title {
    padding: 5px 15px;
}

.logo {
    margin: 10px 35px;
}

.wrap {
    margin: auto;
    width: 80%;
    margin-left: 220px;
}

.side-nav {
    background-color: #222222;
}

.side-nav a {
    color: white;
    padding: 0 5px;
}

.side-nav a:hover {background-color: #00B140}

.collapsible-header {
    color: white;
}

.side-nav .collapsible-body {
    background-color: #222222;
}

@media only screen and (max-width: 1200px) {
    .wrap {
        width: 78%;
    }
}

@media only screen and (max-width: 995px) {
    .wrap {
        margin-left: 150px;
        width: 80%;
    }

    #bar {
        max-width: 150px;
    }
}

@media only screen and (max-width: 600px) {
    .wrap {
        margin: 0;
        width: 100%;
        padding: 0;
    }
    
    #bar {
        display: none;
    }
}

/*** ADMIN PAGE STYLES **/

span.card-link a {
    cursor: pointer;
    color: #00B140;
}

.collection a.collection-item {
    background-color: white;
    color: #00B140;
}

.collection a.collection-item.active {
    background-color: #00B140;
    color: white;
}

/** ADMIN.JUDGES **/

.tabs .tab a, .tabs .tab a.active{
    color: rgba(0,0,0,.87);
}

.tabs .tab a:hover {
    color: #00B140;
}

.tabs .indicator {
    background: #00B140;
}

td a, td a:hover {
    color: #00B140;
    cursor: pointer;
}

.green {
    background: #00B140;
    color: white;
}

.green:hover {
    rgba(0,177,64,.8)
}

.full_name::after, .full_name .active::after {
    content: "Full Name"
}

/** Cancel button **/
.cancel-btn {
    width: 100%;
    height: 50px;
    background: #f44336;
}
.cancel-btn:hover {
    background: rgba(255,100,120,.8);
}

/** Toast styles **/
.toast.success {
    background-color: #00B140;
}
.toast.error {
    background-color: #f44336;
}

/** Judge form **/

.form-background {
    background: #ECECEC;
    width: 100%;
    padding: 150px 50px;
}

.form-cont {
    text-align: center;
    width: 100%;
    padding: 50px 50px 50px;
    margin: auto;
    background: white;
}

.judge-form .question-info {
    width: 718px;
}

.comment-box {
    margin-top: 2rem;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #00B140;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #00B140;
}

/** Registration **/
.register-cont {
    text-align: left;
    width: 65%;
    padding: 50px 50px 50px;
    margin: auto;
    background: white;
}

.register-background {
    background: #ECECEC;
    height: 1000px;
    width: 100%;
    padding: 150px 50px;
}

.register-background-extended {
    background: #ECECEC;
    height: 1200px;
    width: 100%;
    padding: 150px 50px;
}

/** Spacing **/
.pull-right {
    float: right !important;
} 

th button.table-btn {
    text-align: center;
    float: right;
}

/** Modal Footer Override **/
.modal .modal-footer .btn {
    margin: 6px 5px;
}

/** Label **/
.input-field label {
    color: #00B140;
}

/** Override Disabled Settings **/
input:not([type]):disabled, input[type=text]:disabled, input[type=email]:disabled {
    color: inherit;
}

input:not([type]):disabled+label, input[type=text]:disabled+label, input[type=email]:disabled+label {
    color: #00B140;
}

.select-wrapper input.select-dropdown:disabled {
    color: inherit;
}

.box-container {
    border: 1px solid lightgrey;
    margin: 50px;
}

.box-container .pull-right {
    float: none;
    margin-right: 2rem;
}

/** Material icons retrieved from: http://google.github.io/material-design-icons/ **/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.side-nav li>a>i.material-icons.md-light { 
    color: rgba(255, 255, 255, 1);
    padding-left: 15px; 
}

.collapsible {
    border: none;
}

.collapsible-body {
    min-height: 2rem;
}

.side-nav .collapsible-body {
    padding: 0 0 0 15px;
}

.side-nav .collapsible-body a {
    margin: 5px -15px;
}

.side-nav .collapsible-body {
    background-color: grey;
}

.side-nav .collapsible-header:hover {
    background-color: #00B140;
}

.side-nav .collapsible-body:hover {
    background-color: #00B140;
}

.collapsible-header.active {
    background-color: #00B140;
}

table.unassigned-posters tbody tr td, table.assigned-posters tbody tr td {
    cursor: pointer;
}

table.unassigned-posters tbody tr td.active, table.assigned-posters tbody tr td.active  {
    color: white;
    background-color: #00B140;
}