<div class="wrap" poster-select>
    <abstract-modal abstract="ctrl.abstract"></abstract-modal>
    <div class="row">
        <div class="col s12">
            <ul class="tabs" material-tabs>
                <li ng-repeat="tab in ctrl.tabs" class="tab col s3"><a href="#{{tab.id}}">{{tab.id}}</a></li>
            </ul>
        </div>
    </div>

    <div id="Pending" class="col s12">
        <table class="bordered highlight poster-select">
            <thead>
                <tr>
                    <th data-field="posterId">Poster ID</th>
                    <th data-field="firstName">Poster Title</th>
                    <th data-field="category">Category</th><!-- we'll probably put an ng-if here later depending on the judge -->
                    <th>Abstract</th>
                    <th>Judge</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="form in ctrl.forms | filter: { judged: '0' }">
                <td>{{form.posterId}}</td>
                <td>{{form.posterTitle}}</td>
                <td>{{form.posterCategory}}</td>
                <td><a class="waves-effect waves-light btn green" data-target="view-abstract" ng-click="ctrl.setAbstract(form)">View Abstract</a></td>
                <td><a class="waves-effect waves-light btn green" ui-sref="home.judge.form({formId: form.formId})">Judge Poster</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="Complete" class="col s12">
        <table class="bordered highlight poster-select">
            <thead>
                <tr>
                    <th data-field="posterId">Poster ID</th>
                    <th data-field="firstName">Poster Title</th>
                    <th data-field="category">Category</th><!-- we'll probably put an ng-if here later depending on the judge -->
                    <th>Abstract</th>
                    <th>Judge</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="form in ctrl.forms | filter: { judged: '1' }">
                <td>{{form.posterId}}</td>
                <td>{{form.posterTitle}}</td>
                <td>{{form.posterCategory}}</td>
                <td><a class="waves-effect waves-light btn green" data-target="view-abstract" ng-click="ctrl.setAbstract(form)">View Abstract</a></td>
                <td><a class="waves-effect waves-light btn green" ui-sref="home.judge.form({formId: form.formId})">Judge Poster</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>