<!-- Modal Structure -->
<div id="forgot-password" class="modal modal-fixed-footer" material-modal>
    <div ng-if="ctrl.linkSent" class="modal-content">
            <h5 class="page-title">Thank You! Follow the instructions sent to your email!</h5>
    </div>
    <div class="modal-footer">
        <a ng-click="ctrl.close()" class="modal-action modal-close waves-effect waves-green btn red ">Close</a>
    </div>
    <form ng-if="!ctrl.linkSent" name="forgot-password-form" id="forgot-password-form" ng-submit="ctrl.send()">
        <div class="modal-content">
            <h5 class="page-title">Forgot Password</h5>
            <div class="input-field col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" name="email" id="email" ng-model="ctrl.email" class="validate" placeholder="Email" required>
                        <label class="active" for="email">Email</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="ctrl.close()" class="modal-action modal-close waves-effect waves-green btn red ">Cancel</a>
            <button type="submit" class="modal-action waves-effect waves-green btn green ">Send Reset Link</a>
        </div>
    </form>
</div>