<div class="wrap">
    <view-judge-scores-modal ctrl="ctrl"></view-judge-scores-modal>
    <view-poster-performance-modal ctrl="ctrl"></view-poster-performance-modal>
    <h5 class="page-title">Reports</h5>
    <div class="row">
        <div class="input-field col s6">
            <select name="summit" ng-change="ctrl.changeSummit()" class="form-control" ng-model="ctrl.summitId" id="summit" title="Summit" material-select>
                <option value="" disabled>Select Summit</option>
                <option ng-repeat="summit in ctrl.summits" ng-value="summit.summitId">{{summit.summitStart | date: 'mediumDate'}}</option>
            </select>
            <label for="judge">Select Summit</label>
        </div>
        <div ng-if="!ctrl.reportGenerated" class="input-field col s4">
            <a ng-click="ctrl.generateReport()" class="waves-effect waves-light btn">Generate Report</a>
        </div>
        <div ng-if="ctrl.reportGenerated" class="input-field col s4">
            <a ng-click="ctrl.download()" class="waves-effect waves-light btn">Download Full Report</a>
        </div>
    </div>
    <div ng-if="ctrl.reportGenerated" class="row">
        <div class="col s12">
            <ul class="tabs" material-tabs>
                <li class="tab col s3" ng-repeat="judgeCategory in ctrl.judgeCategories"><a href="#{{judgeCategory.title}}">{{judgeCategory.title}}</a></li>
            </ul>
        </div>
    </div>
    <div ng-if="ctrl.reportGenerated" ng-repeat="judgeCategory in ctrl.judgeCategories" id="{{judgeCategory.title}}" class="col s12">
        <table class="bordered highlight fixed-headers" fixed-headers>
            <thead>
                <tr>
                    <th>Lead Author</th>
                    <th>Category</th>
                    <th>Department</th>
                    <th>Score</th>
                    <th>Poster #</th>
                    <th>Title</th>
                    <th>Judge Scores</th>
                    <th>Question Performance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="poster in ctrl.posters | filter: { judgeCategoryId: judgeCategory.judgeCategoryId } | filter: { summitId: ctrl.summitId } | orderBy: ['-score']">
                    <td>{{ ctrl.getLeadAuthor(poster) }}</td>
                    <td>{{ poster.role }}</td>
                    <td>{{ poster.institution }}</td>
                    <td>{{ poster.score }}</td>
                    <td>{{ poster.category + ' ' + poster.posterNumber}}</td>
                    <td>{{ poster.posterTitle }}</td>
                    <td><a ng-click="ctrl.viewScores(poster)" data-target="view-judge-scores" class="waves-effect waves-light btn">View Scores</a></td>
                    <td><a ng-click="ctrl.viewPerformance(poster)" data-target="view-poster-performance" class="waves-effect waves-light btn">View Performance</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>