<div class="wrap">
    <h5 class="page-title">Assign Posters</h5>
    <div class="row">
        <div class="col s12">
            <ul class="tabs" material-tabs>
                <li ng-repeat="judgeCategory in ctrl.judgeCategories" class="tab col s3"><a ng-click="ctrl.changeCategory(judgeCategory)" href="#{{judgeCategory.title}}">{{judgeCategory.title}}</a></li>
            </ul>
        </div>
    </div>

    <div ng-repeat="judgeCategory in ctrl.judgeCategories" id="{{judgeCategory.title}}" class="col s12">

        <div class="row">
            <div class="input-field col s6">
                <select name="judge" class="form-control" ng-model="judgeCategory.judgeId" id="judge" title="Judge" ng-change="ctrl.reset()" material-select>
                    <option value="" disabled selected>Select Judge</option>
                    <option ng-repeat="judge in ctrl.judges | filter: {judgeCategoryId: judgeCategory.judgeCategoryId}" ng-value="judge.judgeId">{{judge.firstName + ' ' + judge.lastName}}</option>
                </select>
                <label for="judge">Select Judge</label>
            </div>
            <div class="input-field col s6">
                <select name="posterCategory" class="form-control" ng-model="judgeCategory.posterCategoryId" id="posterCategory" title="PosterCategory" material-select>
                    <option value="" disabled selected>Select Poster Category</option>
                    <option ng-repeat="posterCategory in ctrl.posterCategories" ng-value="posterCategory.posterCategoryId">{{posterCategory.title}}</option>
                </select>
                <label for="posterCategory">Select Poster Category</label>
            </div>
        </div>
        <div ng-if="ctrl.selected(judgeCategory)" class="row">
            <div class="input-field col s5">
                <div class="row">
                    <div class="col s4 offset-s4">
                        <h6 style="text-align: center;"><strong>All Posters</strong></h6>
                    </div>
                </div>
                <table class="unassigned-posters bordered highlight">
                    <thead>
                        <tr>
                            <th>Poster #</th>
                            <th>Poster Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-click="ctrl.selectPoster(poster, $event)" ng-repeat="poster in ctrl.posters | filter: {posterCategoryId: judgeCategory.posterCategoryId} | orderBy: ['category', 'posterNumber']">
                            <td>{{poster.category + ' ' + poster.posterNumber}}</td>
                            <td>{{poster.posterTitle}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="input-field col s2">
                <a ng-click="ctrl.unassign(judgeCategory)" class="waves-effect waves-light btn"><i class="material-icons">keyboard_arrow_left</i></a>
                <a ng-click="ctrl.assign(judgeCategory)" class="waves-effect waves-light btn"><i class="material-icons">keyboard_arrow_right</i></a>
            </div>
            <div class="input-field col s5">
                <div class="row">
                    <div class="col s4 offset-s4">
                        <h6 style="text-align: center;"><strong>Assigned Posters</strong></h6>
                    </div>
                </div>
                <table class="assigned-posters bordered highlight">
                    <thead>
                        <tr>
                            <th>Poster #</th>
                            <th>Poster Title</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-click="ctrl.selectForm(form, $event)" ng-repeat="form in ctrl.forms | filter: {judgeId: judgeCategory.judgeId } | orderBy: ['posterCategory', 'posterNumber']">
                            <td>{{form.posterCategory + ' ' + form.posterNumber}}</td>
                            <td>{{form.posterTitle}}</td>
                            <td>{{ ctrl.getStatus(form) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>