<div class="container">

    <form ng-if="ctrl.questionsLoaded()">

        <table class="bordered highlight responsive-table">
            <thead>
                <tr>
                    <th data-field="question">Question</th>
                    <th data-field="poor">Poor</th>
                    <th data-field="adequate">Adequate</th>
                    <th data-field="fair">Fair</th><!-- we'll probably put an ng-if here later depending on the judge -->
                    <th data-field="good">Good</th>
                    <th data-field="excellent">Excellent</th>
                    <th data-field="totals">TOTALS</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="question in questions">
                    <td>{{question.description}}</td>
                    <td ng-repeat="score in scores">
                        <input name="{{'group' + question.questionId}}" ng-model="$parent.question.score" type="radio" id="{{score.label}}" ng-value="score.score" required />
                        <label for="{{score.label}}"></label>
                    </td>
                    <td>{{question.score}}</td>
                </tr>
            </tbody>
        </table>

        <button ng-click="ctrl.submit()" class="btn admin-btn">Submit</button>

    </form>
</div>