<div material-modal id="add-key-participant" class="modal modal-fixed-footer">
    <form ng-submit="ctrl.addKeyParticipant()">
        <div class="modal-content">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="First Name" id="keyParticipantFName" ng-model="ctrl.keyParticipant.firstName" type="text" class="validate" required>
                    <label class="active" for="keyParticipantFName">First Name:</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Last Name" id="keyParticipantLName" ng-model="ctrl.keyParticipant.lastName" type="text" class="validate" required>
                    <label class="active" for="keyParticipantLName">Last Name:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <select material-select id="keyParticipantInstitution" ng-model="ctrl.keyParticipant.institutionId" ng-change="ctrl.resetDepartment()"
                        ng-options="institution.institutionId as institution.title for institution in ctrl.institutions" required>
                        <option value="" disabled selected>Choose Your Institution</option>
                    </select>
                </div>
                <div ng-show="ctrl.keyParticipant.institutionId === '1'" class="input-field col s4 ng-hide">
                    <select material-select id="keyParticipantDepartmentMUSOM" ng-model="ctrl.keyParticipant.department">
                        <option value="" disabled selected>Choose Your Department</option>
                        <option ng-repeat="department in ctrl.musomDepartments" value="{{department}}">{{department}}</option>
                    </select>
                </div>
                <div ng-show="ctrl.keyParticipant.institutionId !== '1' && ctrl.keyParticipant.institutionId !==null && ctrl.keyParticipant.institutionId !==undefined && ctrl.keyParticipant.institutionId !==''" class="input-field col s4 ng-hide">
                    <input placeholder="Department" id="keyParticipantDepartment" ng-model="ctrl.keyParticipant.department" type="text" class="validate">
                    <label class="active" for="keyParticipantDepartment">Department</label>
                </div>
                <div class="input-field col s4">
                    <select material-select id="keyParticipantRole" ng-model="ctrl.keyParticipant.roleId"
                        ng-options="role.roleId as role.title for role in ctrl.roles" required>
                        <option value="" disabled selected>Choose Your Role</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row pull-right">
                <a ng-click="ctrl.cancelKeyParticipant()" class="waves-effect waves-light btn red modal-action modal-close">Cancel</a>
                <button type="submit" class="modal-action modal-close waves-effect btn green waves-effect waves-light">Submit</button>
            </div>
        </div>
    </form>
</div>