<div class="wrap">
    <judge-modal ctrl="ctrl"></judge-modal>
    <judge-assignment-modal judge="ctrl.selectedJudge" posters="ctrl.posters"></judge-assignment-modal>
    <h5 class="page-title">Judges</h5>

    <div class="row">
        <div class="col s12">
            <ul class="tabs" material-tabs>
                <li class="tab col s3"><a href="#Marshall">Marshall</a></li>
                <li class="tab col s3"><a class="active" href="#Cabell">Cabell</a></li>
                <li class="tab col s3"><a href="#Inactive">Inactive</a></li>
                <li class="tab col s3"><button data-target="add-judge" class="btn green">Add Judge</button></li>
            </ul>
        </div>
    </div>

    <div ng-repeat="tab in ctrl.tabs" id="{{tab.name}}" class="col s12">
    <table class="bordered highlight">
        <thead>
        <tr>
            <th>User Name</th>
            <th>Judge Name</th>
            <th>Category</th>
            <th>Posters</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="tab.name !== 'Inactive'" ng-repeat="judge in ctrl.judges | filter:{category:tab.name} | filter:{active:1}">
            <td><a ui-sref="home.admin.judge({judgeId: judge.judgeId})">{{ judge.userName }}</a></td>
            <td>{{ judge.firstName + ' ' + judge.lastName }}</td>
            <td>{{ judge.category }}</td>
            <td><a ng-click="ctrl.setJudge(judge)" data-target="judge-assignment">Assign Posters</a></td>
            <td><a ng-click="ctrl.deactivate(judge)">Deactivate</a></td>
        </tr>
        <tr ng-if="tab.name === 'Inactive'" ng-repeat="judge in ctrl.judges | filter:{active:0}">
            <td><a ui-sref="home.admin.judge({judgeId: judge.judgeId})">{{ judge.userName }}</a></td>
            <td>{{ judge.firstName + ' ' + judge.lastName }}</td>
            <td>{{ judge.category }}</td>
            <td><a ng-click="ctrl.setJudge(judge)" data-target="judge-assignment">Assign Posters</a></td>
            <td><a ng-click="ctrl.activate(judge)">Activate</a></td>
        </tr>
        </tbody>
    </table>
    </div>

    <!-- Modal Structure -->
    <div id="{{ judge.judgeId }}" class="modal modal-fixed-footer" ng-repeat="judge in ctrl.judges" material-modal>
        <div class="modal-content">
            <h4>{{ judge.judgeId }}</h4>
            <p>Judge score information</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn green ">Mail Grades</a>
        </div>
    </div>

</div>