<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="wrap">
        <h5 class="page-title">Judges</h5>

        <script>
            $(document).ready(function(){
                $('ul.tabs').tabs();
            });


        </script>

        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#test1">Marshall</a></li>
                    <li class="tab col s3"><a class="active" href="#test2">JCE</a></li>
                    <li class="tab col s3"><a href="#test3">Inactive</a></li>
                    <li class="tab col s3"><button data-target="add-judge" class="btn green">Add Judge</button></li>
                </ul>
            </div>
        </div>

        <script>
            $(document).ready(function(){
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal').modal();
            });

            $(document).ready(function() {
                $('select').material_select();
            });

        </script>

        <!-- Modal Structure -->
        <div id="add-judge" class="modal modal-fixed-footer" ng-repeat="project in data">
            <div class="modal-content">
                <h5>Add Judge</h5>
                <div class="input-field col s12">
                    <form>
                    <input id="name" placeholder="Full Name">
                    <input id="email" class="validate" placeholder="Email">

                        <select id="category" title="Category">
                            <option value="category">Category</option>
                            <option value="marshall">Marshall</option>
                            <option value="JCE">JCE</option>
                            <option value="other">Other</option>
                        </select>
                            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                            <label for="filled-in-box">Active</label>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a onclick="AddJudge()"class="modal-action modal-close waves-effect waves-green btn green ">Add Judge</a>
            </div>
        </div>

        <!-- TABLE ONE -->

        <div id="test1" class="col s12">
        <table class="bordered highlight">
            <thead>
            <tr>
                <th>ID</th>
                <th>Judge Name</th>
                <th>Category</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in data | filter:{category:'Marshall'} | filter:{active:true}">
                <td data-target="{{ project.id }}">{{ project.id }}</td>
                <td data-target="{{ project.id }}">{{ project.name }}</td>
                <td data-target="{{ project.id }}">{{ project.category }}</td>
                <td><a onclick="deactivate(project)">Deactivate</a></td>
            </tr>
            </tbody>
        </table>
        </div>

        <!-- TABLE TWO -->

        <div id="test2" class="col s12">
            <table class="bordered highlight">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Judge Name</th>
                    <th>Category</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr data-target="{{ project.id }}" ng-repeat="project in data | filter: {category:'JCE'} | filter:{active:true}">
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.category }}</td>
                    <td><a>Deactivate</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- TABLE THREE -->
        <div id="test3" class="col s12">
            <table class="bordered highlight">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Judge Name</th>
                    <th>Category</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr data-target="{{ project.id }}" ng-repeat="project in data | filter:{active:false}">
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.category }}</td>
                    <td><a>Activate</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <script>
            $(document).ready(function(){
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal').modal();
            });
        </script>
        <!-- Modal Structure -->
        <div id="{{ project.id }}" class="modal modal-fixed-footer" ng-repeat="project in data">
            <div class="modal-content">
                <h4>{{ project.id + " " + project.project }}</h4>
                <p>Judge score information</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn green ">Mail Grades</a>
            </div>
        </div>

    </div>
</body>
</html>