<!-- Modal Structure -->
<div id="add-judge" class="modal modal-fixed-footer" material-modal>
    <div class="modal-content">
        <h5>Add Judge</h5>
        <div class="input-field col s12">
            <form>
                <div class="row">
                    <div class="col s6">
                        <input id="first_name" ng-model="ctrl.judge.firstName" placeholder="First Name">
                    </div>
                    <div class="col s6">
                        <input id="last_name" ng-model="ctrl.judge.lastName" placeholder="Last Name">
                    </div>
                </div>
                <input id="userName" ng-model="ctrl.judge.userName" class="validate" placeholder="User Name">
                <select ng-model="ctrl.judge.judgeCategoryId" id="category" title="Category" material-select>
                    <option value="" disabled selected>Category</option>
                    <option ng-repeat="judgeCategory in ctrl.judgeCategories" value="{{judgeCategory.judgeCategoryId}}">{{judgeCategory.title}}</option>
                </select>
                <input type="checkbox" ng-model="ctrl.judge.active" ng-true-value="1" ng-false-value="0" class="filled-in" id="filled-in-box" checked="checked" />
                <label for="filled-in-box">Active</label>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="ctrl.add()"class="modal-action modal-close waves-effect waves-green btn green ">Add Judge</a>
    </div>
</div>