<div>
    <add-judge-modal ctrl="ctrl"></add-judge-modal>
    <h5 class="page-title">Judges</h5>
    <div class="row">
        <div class="col s6">
            <select name="category" class="form-control" ng-model="ctrl.category" id="category" title="Category" material-select
                ng-options="judgeCategory.judgeCategoryId as judgeCategory.title for judgeCategory in ctrl.judgeCategories">
            </select>
        </div>
        <div class="pull-right">
        <a data-target="add-judge" ng-click="ctrl.setModal()" class="waves-effect waves-light btn green">Add Judge</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs" material-tabs>
                <li class="tab col s3"><a href="#Active">Active</a></li>
                <li class="tab col s3"><a href="#Inactive">Inactive</a></li>
            </ul>
        </div>
    </div>

    <div id="Active" class="col s12">
        <table class="bordered highlight">
            <thead>
            <tr>
                <th>Email</th>
                <th>Judge Name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="judge in ctrl.judges | filter:{active:1} | filter: {judgeCategoryId: ctrl.category}">
                <td><a ui-sref="home.admin.judge({judgeId: judge.judgeId})">{{ judge.email }}</a></td>
                <td>{{ judge.firstName + ' ' + judge.lastName }}</td>
                <td><a class="waves-effect waves-light btn red" ng-click="ctrl.deactivate(judge)">Deactivate</a></td>
            </tr>
        </table>
    </div>

    <div id="Inactive" class="col s12">
        <table class="bordered highlight">
            <thead>
            <tr>
                <th>Email</th>
                <th>Judge Name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="judge in ctrl.judges | filter:{active:0} | filter:{judgeCategoryId: ctrl.category}">
                <td><a ui-sref="home.admin.judge({judgeId: judge.judgeId})">{{ judge.email }}</a></td>
                <td>{{ judge.firstName + ' ' + judge.lastName }}</td>
                <td><a class="waves-effect waves-light btn green" ng-click="ctrl.activate(judge)">Activate</a></td>
            </tr>
        </table>
    </div>

</div>