<body>
    <div class="jumbo">
        <div class="row">
            <div class="col s5 content">
                <h4>Quality and Safety Summit</h4>
                <hr align="left">
                <p>The Quality and Safety Summit is an annual event hosted by the Marshall Univeristy<br>
                School of Medicine that seeks to innovate quality and safety in all medical<br>
                practices. If you have a submission, please click register below!</p>
                <button ng-if="ctrl.canRegister" ui-sref="register" class="btn">Register</button>
            </div>
            <div class="input-field col s5">
                <div class="login-cont">
                    <div class="row">
                        <h4>Login</h4>
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input ng-model="ctrl.email" placeholder="Email" id="email" type="email" class="validate">
                                    <label for="email"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input ng-model="ctrl.password" placeholder="Password" id="password" type="password" class="validate">
                                    <label for="password"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <button ng-click="ctrl.login()" class="btn admin-btn">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blurbs">
        <div class="row">
            <div class="col blurb">
                <h5>Logo</h5>
            </div>
            <div class="col blurb">
                <h5>Logo</h5>
            </div>
            <div class="col blurb">
                <h5>Logo</h5>
            </div>

        </div>
    </div>
</body>