<nav>
    <div class="nav-wrapper landing-nav">
        <a ui-sref="home" class="brand-logo logo"><img src="judge/assets/img/MarshallWhite.png" height="40" width=""></a>

        <!-- Judge buttons -->
        <ul ng-if="ctrl.authService.isJudge" id="nav-mobile" class="right hide-on-med-and-down">
            <li><a ui-sref="judge.dashboard({id: ctrl.authService.currentUser.id})">Dashboard</a></li>
            <li><a ng-click="ctrl.authService.logout()">Logout</a></li>
        </ul>
        <!-- Admin buttons -->
        <ul ng-if="ctrl.authService.isAdmin" id="nav-mobile" class="right hide-on-med-and-down">
            <li><a ui-sref="admin.dashboard">Dashboard</a></li>
            <li><a ng-click="ctrl.authService.logout()">Logout</a></li>
        </ul>
        <!-- Default -->
        <ul ng-if="!ctrl.authService.isLoggedIn" id="nav-mobile" class="right hide-on-med-and-down">
            <li><a ui-sref="judge-login">Judge Login</a></li>
            <li><a ui-sref="login">Admin Login</a></li>
        </ul>
    </div>
</nav>
<body>
    <div class="jumbo">
        <div class="content">
            <h4>Quality and Safety Summit</h4>
            <hr align="left">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</br>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</br>
                when an unknown printer took a galley of type and scrambled it to make a type</br>
                specimen book.It has survived not only five centuries</p>
            <button ui-sref="register" class="btn">Register</button>
        </div>
    </div>
    <div class="blurbs">
        <div class="row">
            <div class="col blurb">
                <h5>Logo</h5>
            </div>
            <div class="col blurb">
                <h5>Logo</h5>
            </div>
            <div class="col blurb">
                <h5>Logo</h5>
            </div>

        </div>
    </div>
</body>