<div class="register-background">
    <div class="register-cont">
        <key-participants-modal ctrl="ctrl"></key-participants-modal>
        <div class="row">
            <div class="input-field col s12">
                <form>
                    <div class="row">
                        <div class="input-field col s6">
                            <select material-select id="institution" ng-model="ctrl.presenterInstitution">
                                <option value="" disabled selected>Choose Your Institution</option>
                                <option ng-repeat="institution in ctrl.institutions" value="{{institution.institutionId}}">{{institution.title}}</option>
                            </select>
                        </div>
                        <div class="input-field col s6">
                            <select material-select id="role" ng-model="ctrl.presenterRole">
                                <option value="" disabled selected>Choose Your Role</option>
                                <option ng-repeat="role in ctrl.roles" value="{{role.roleId}}">{{role.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col 14 s12">
                            <h5 class="black-text"><u>Key Participants:</u></h5>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col s12">
                             <table class="highlight">
                                 <thead>
                                     <tr>
                                         <th>First Name</th>
                                         <th>Last Name</th>
                                         <th>Department</th>
                                         <th>Institution</th>
                                         <th>Role</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="keyParticipant in ctrl.keyParticipants">
                                        <td>{{keyParticipant.firstName}}</td>
                                        <td>{{keyParticipant.lastName}}</td>
                                        <td>{{keyParticipant.department}}</td>
                                        <td ng-if="keyParticipant.institutionId === '1'">MUSOM</td>
                                        <td ng-if="keyParticipant.institutionId === '2'">CHH</td>
                                        <td ng-if="keyParticipant.institutionId === '3'">MUSOP</td>
                                        <td ng-if="keyParticipant.institutionId === '4'">MU Nursing</td>
                                        <td ng-if="keyParticipant.roleId === '1'">Faculty Member</td>
                                        <td ng-if="keyParticipant.roleId === '2'">CHH Employee</td>
                                        <td ng-if="keyParticipant.roleId === '3'">Resident or Fellow</td>
                                        <td ng-if="keyParticipant.roleId === '4'">Medical Student</td>
                                        <td ng-if="keyParticipant.roleId === '5'">Pharmacy</td>
                                    </tr>
                                 </tbody>
                             </table>
                         </div>
                    </div>
                    <div class="row">
                        <button data-target="modal1" class="btn green waves-effect waves-light">Add Presenter</button>
                    </div>
                    <div class="row pull-right">
                        <a ui-sref='home' class="waves-effect waves-light btn red">Cancel</a>
                        <button ng-click="ctrl.checkInstitutionExists()" class="btn green waves-effect waves-light" type="submit">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>